<nav class="nav">
  <a href="/">Home</a>
  <a href="/categories">Categories</a>
  <a href="/products">Products</a>
  <a href="/ingredients">Ingredients</a>
  <a href="/recipes">Recipes</a>
  <a href="/batches">Batches</a>
  <a href="/produce">Produce</a>
  <a href="/refill">Refill</a>
  <a href="/ingredient-movements">Movements</a>
</nav>
